<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading"><span style="color:#009973">You</span> & Our Process</h2>

                    

                     <h2 class="section-subheading">Institutions and the Reverse Pitch</h2>

                <p class="large">The first call for proposals, projects, and ideas, focuses on METRO member institutions. Members are invited to submit real-world challenges or problems of practice that are informed by their experience and daily operations. This practice is sometimes referred to as the ‘reverse pitch’.  The reverse pitch helps entrepreneurs focus on solving real world problems instead of innovating within a vacuum.</p>
                        
                <p class="large">As reverse pitches are submitted, they are reviewed and anonymously published to this site, where they can receive comments from the membership. METRO staff and a fellowship advisory council will also contact the institutions and work with them to understand and refine their pitches. This process will ignite instigations and provocations for potential fellows. In addition, it will begin to surface some of the hidden opportunities for cross-institutional collaborations.</p>

                <p class="large">These reverse pitches will determine the areas of inquiry for the fellowship program.  Rather than pull ideas out of thin air, the diversity of the reverse pitches from member organizations will lead us as we build parameters and collaborations for the fellowship program.  Do you offer a library service that needs to be completely rethought and redesigned? Does your organization have a digital humanties project that you've been hoping to kick off, but haven't had the resources or time to pay attention to?  Is there an opportunity to better engage your library in critical librarianship and social justice issues?</p>

                <p class="large" style="color:#009973">* The call for reverse pitches will open February 1st.</p>

<br /><br />

                    <h2 class="section-subheading">Individuals and their Fellowship Proposals</h2>

                <p class="large">After the pitches have been published and promoted, the fellowship application process opens. Individual applicants are instructed to focus their project proposals within one or more of the areas of inquiry, and while they are invited to respond directly to institutional pitches, they are not required to do so. Then, METRO publishes all of the fellowship project proposals to this site. This gives the membership another opportunity to view, add comments to, and share the ideas.</p>

                <p class="large" style="color:#009973">* The call for fellowship proposals will open March 15th.</p>


<br /><br />

                    <h2 class="section-subheading">Matchmaking and Team Building</h2>
                        
                <p class="large">The matchmaking is where the magic happens.  METRO and the advisory council examine, consider, and assess both the reverse pitches and fellowship proposals. The advisory board brings fellowship proposals into alignment with needs that bridge multiple institutions. Attention is paid to members’ ability to provide the necessary institutional access for a fellow to be successful.</p>
                        
                <p class="large">Because this fellowship is intended to take advantage of METRO as a unique network of libraries, archives, and museums, proposals that address problems across a diverse group of partners are best positioned for success. METRO and the advisory board will engage both the institutions and the individuals to assure that we have created strong partnerships.</p>

                
               
                </div>
            </div>
        </div>
    </section>