<!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">You still have a lot of questions</h2>
                    <h2 class="section-subheading">No doubt</h2>
                    <p class="large">
                       We know we haven't answered all of your questions. This is just getting started. You'll learn a lot more about this as we move along, so we invite you to check back, <a href="http://metrolists.org/mailman/listinfo/metro-announce_metrolists.org" style="color:#ff00ff">join the METRO email list</a>, and watch our social media channels for updates.  
                   </p>
<br /><br />
                    <h2 class="section-subheading">Contact us</h2>
                    </p>Still confused?  Reach out to us at info at metro dot org and we'll try to answer any questions.
                </div>
            </div>

        </div>
    </section>
