<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-5 text-center">
                    <h2 class="section-subheading">consume</h2>
                    <img src="img/consumption-existing.png" class="img-responsive" alt=""> 
                    <p>Traditional consortium models offer group access to existing resources as their core value proposition.</p>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-5 text-center">
                    <h2 class="section-subheading">produce</h2>
                    <img src="img/production-new.png" class="img-responsive" alt=""> 
                    <p>We match innovative individuals with cross-institutional challenges, resulting in new opportunities and new resources.</p>
                </div>
                
            </div>
        </div>
    </section>