<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">Our Network</h2>
                    <h2 class="section-subheading">The METRO member network includes 250 libraries, archives and museums in New York City and Westchester County.</h2>
               
                <p class="large">This network of libraries, archives, and museums cannot be compared to anywhere else in the world for its density, diversity, and depth. The more we share across our organizations, and the more we connect our services and solve problems together, the stronger and more efficient we become.</p>
                        
                <p class="large">Collectively, we present a cohort of fellows a unique field research opportunity. Through their work, these fellows will create new connections and prototype new services, products, scholarship, and collaborations that strengthen our network. To ensure the success of these fellows, METRO has designed a unique selection and matchmaking process that partners fellows with clusters of at least three member organizations.</p>

<br /><br />
                <h2 class="section-subheading">METRO Fellows will receive a $50,000 stipend for a nine month fellowship in New York City, September 2016 - May 2017.</h2>
                
                <p class="large">Fellows will be required to live within commuting distance of New York City. Fellows will also need to spend two days per week working in the METRO space on 11th Street and Broadway in Manhattan, and they are invited to use the meeting rooms, office space, and additional resources as well.</p>

                </div>
            </div>

        </div>
    </section>