<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">Our Timeline</h2>
                    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2 class="section-subheading">The Reverse Pitch Begins</h2>
                <p class="large">We will begin gather problems of practice from METRO member organizations. As we gather and sort these, we will begin to publish responses to the site.</p>
                <span class="cd-date" style="font-size:18px;">February 1</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <!--<img src="img/cd-icon-movie.svg" alt="Movie">-->
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2 class="section-subheading">Open Call for Fellows Begins</h2>
                <p class="large">There is still time for organizations to put their ideas out there, but now the focus is on collecting applications from individuals interested in being METRO Fellows.</p>
                <span class="cd-date" style="font-size:18px;">March 15</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2 class="section-subheading">Close the Call</h2>
                <p class="large">5:00 PM is the hard deadline for both reverse pitches and fellowship proposals.</p>
                <span class="cd-date" style="font-size:18px;">May 16</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2 class="section-subheading">Announce Winners</h2>
                <p class="large">Winners will be publicly announced.</p>
                <span class="cd-date" style="font-size:18px;">June 15</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2 class="section-subheading">Fellowship Begins</h2>
                <p class="large"></p>
                <span class="cd-date" style="font-size:18px;">September 15</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2 class="section-subheading">Fellowship Ends</h2>
                <p class="large"></p>
                <span class="cd-date" style="font-size:18px;">May 1, 2017</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
    </section> <!-- cd-timeline -->
                
                </div>
            </div>
        </div>
    </section>
